cffi==0.8.6
cryptography==0.6.1
decorator==3.4.0
Flask==0.12.3
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
ndg-httpsclient==0.3.2
pyasn1==0.1.7
pycparser==2.10
PyGithub==1.25.2
pyOpenSSL==17.5.0
python-slugify==0.1.0
pytz==2014.7
PyYAML==3.11
rauth==0.7.0
requests==2.20.0
six==1.8.0
Unidecode==0.4.16
Werkzeug==0.9.6
