Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyGithub==1.25.2
PyYAML==3.11
Unidecode==0.04.16
Werkzeug==0.9.6
cffi==0.8.6
cryptography==0.6.1
decorator==3.4.0
itsdangerous==0.24
ndg-httpsclient==0.3.2
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python-slugify==0.1.0
pytz==2014.7
rauth==0.7.0
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
