---
layout: default
---
<div id="post">
    <h2 id='post-title'>
        {{ page.api_data.post_html.title }}
    </h2>

    <p class="meta">{{page.api_data.post_html.date}}</p>

    {{page.api_data.post_html.body}}
</div>

<div id="page-navigation"> 
    {% if page.previous.url %} 
    <a id="page-left" href="{{page.previous.url}}" title="Previous post: 
        {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
    {% endif %} 

    {% if page.next.url %} 
    <a id="page-right" href="{{page.next.url}}" title="Next post: 
        {{page.next.title}}">{{page.next.title}} &raquo; </a> 
    {% endif %} 
</div> 

<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'thelistservearchive';

    /* */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


